
.myVideo {
  padding: 0;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  
}

.choice{
 z-index: 1;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
}

.transport{z-index: 1;
  border: 1px solid black;
  background:#6A6280;
  opacity: 0.8;
  border-radius: 5px;
  height:120px ;
  margin:3px;
}


.images{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  align-items: center;
  top:20%;
  z-index: 3;
  border-radius: 50px;
  margin: 4% auto 100px;
  padding: 45px;
  
  box-shadow: 0 0 20px 0 #BAAC99, 0 5px 5px 0 #BAAC99;


}

.img{z-index: 1;
width: 120px;
height: 120px;
padding: 5px;
}

.title{
  color:#BAAC99;
 opacity: 1;

}